.animate-sweet-in {
    -webkit-animation:sweet-in 1s ease-out forwards;
    animation:sweet-in 1s ease-out forwards;
    opacity:0
}

// @-webkit-keyframes sweet-in {
//     0% {
//         opacity:0;
//         -webkit-transform:translateY(40px);
//         transform:translateY(40px)
//     }
//     to {
//         opacity:1;
//         -webkit-transform:translateY(0);
//         transform:translateY(0)
//     }
// }

@keyframes sweet-in {
    0% {
        opacity:0;
        -webkit-transform:translateY(40px);
        transform:translateY(40px)
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}

.onePhoto {
    width: 100%;
    position: relative;
    height: 40rem;
    width: 100%;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }   
}

h2 {
    font: $subheadingFont;
    margin: 6% 0%;
    width: 80%;
}

h3 {
    font: $sectionHeadingFont;
    color: $primaryColour;
}

h4 {
    font: $baseFont;
}

.landingImage {
    height: 70rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 10rem;

    img {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        object-fit: cover;
    }
}


.family {
    display: flex;
    justify-content: space-between;

    .familyPhoto {
        height: 40rem;
        overflow: hidden;
        position: relative;
        width: 50%;

        img {
            width: 100%;
            max-width: 100%;
            display: block;
            position: absolute; 
            top: 0px; 
            left: 0px; 
            height: 100%; 
            object-fit: cover; 
            object-position: center center; 
            opacity: 1; 
            transition: opacity 0.3s ease 0s;
            }
    }
    .familyText {
        width: 60%;
        padding-left: 4%;
        h4 {
            width: 80%;
            font: $bodyFont;
            color: rgba(0, 0, 0, 0.6);
        }

        .underlined::after {
            content: "";
            display: block;
            width: 3.5em;
            padding-top: 2vh;
            border-bottom: $borderBottom;
        }
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 7%;

    .cardWrap {
        width: 45%;

        :hover {
            cursor: pointer;
            box-shadow: $boxShadow;
            transition: all 0.3s ease;
        }

        .card {
            :hover {
                box-shadow: none;
            }
            .cardTile {
                height: 30rem;
                overflow: hidden;
                position: relative;
                border-radius: 1rem 1rem 0rem 0rem;
                
                img {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    position: absolute; 
                    top: 0px; 
                    left: 0px; 
                    height: 100%; 
                    object-fit: cover; 
                    object-position: center center; 
                    opacity: 1; 
                    transition: opacity 500ms ease 0s;
                }
            }

            .cardText {
                font: $baseFont;
                padding-bottom: 4%;
                padding-left: 4%;

                p {
                    font-size: $baseFontSize * 1.1;
                    line-height: $baseFontLineHeight * 1.1;
                }

                a {
                    text-decoration: none;
                    color: $primaryColour;
                    background-color: #2E425B;
                    font: normal normal 500 1.6rem/2rem "Open Sans", sans-serif;
                    color: white;
                    display: inline-block;
                    padding: 1.5rem 4rem;
                    text-decoration: none;
                    border-radius: 1rem;
                    border: 1px solid white;
                    white-space: nowrap;                   
                }
            }
        }            
    }
}

.ctaCards {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    
    .ctaCardWrap {
    width: 40%;
    
        :hover {
        box-shadow: $boxShadow;
        cursor: pointer;
        transition: all 0.3s ease;
        }

        .ctaCard {

            padding: 4%;

            :hover {
                box-shadow: none;
            }
            p {
                font: $baseFont;
                color: $secondaryColour;
                width: 65%;
            }
            a {
                text-decoration: none;
                color: $primaryColour;
                font: $ctaFont;
                text-transform: uppercase;

            }
            
        }
    }
}


.eagr-reviews-layout-grid-item {
    width: 33%;
}

.eagr-reviews-skeleton-container.jsx-1570720278 {
    font: $baseFont;
}

.eagr-header-stats-component.jsx-781469832 {
    font-size: 1.4rem;
    font-weight: bold;
}

.eagr-reviews-skeleton-container:nth-child(3) {
    display: none;
}

.homes {
    margin-bottom: 10rem;
    :hover {
        cursor: pointer;
    }
    
    .whiteoverlaybox {
        background-image: linear-gradient(360deg, #FFFFFF 22.95%, rgba(255, 255, 255, 0) 93.73%), url("../images/tourHomes.jpg");
        height: 40rem;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin-right: 4%;
        position: relative;
        text-align: center;

        .getaFeel {
            font: $baseFont;
            font-size: 3rem;
            // Line height has to be the same as height of div
            padding-top: 32rem;
            padding-bottom: 3rem;
            color: $primaryColour;
            text-align: center;
            margin: 0%;
            line-height: 4.2rem;
            }
        
        .bigButton {
            border: 0;
            font: $linkFont;
            background-color: white;
            padding: 10px 22px;
            border-radius: 1rem;
            margin: 0 auto; 
            color :#2E425B;
            border: 1px solid #2E425B;
            
            :hover {
                background-color: $primaryColour;
                color: white;
                transition: all 0.3s ease;
            }
        
        }    
    }
}
