@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

.wrapper {
  width: 88%;
  max-width: 1340px;
  margin: 0 auto; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1%;
  font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif; }
  nav .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1%;
    width: 77%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    nav .navLinks a {
      margin: 0% 3%;
      color: inherit;
      text-decoration: none; }
  nav .navRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 68%; }

.CTA {
  color: white;
  font-family: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
  background-color: #2E425B;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  line-height: 4rem;
  height: 4rem;
  padding-right: 3%;
  padding-left: 3%;
  margin-top: 0.5rem; }

.animate-sweet-in {
  -webkit-animation: sweet-in 1s ease-out forwards;
  animation: sweet-in 1s ease-out forwards;
  opacity: 0; }

@-webkit-keyframes sweet-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes sweet-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.onePhoto {
  width: 100%;
  position: relative;
  height: 35rem;
  width: 100%; }
  .onePhoto img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

h2 {
  font: normal normal 500 5rem/6rem "Baskervville", serif;
  margin: 6% 0%;
  width: 80%; }

h3 {
  font: normal normal 500 4.3rem/6rem "Baskervville", serif;
  color: #2E425B; }

h4 {
  font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif; }

.landingImage {
  height: 70rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 10rem; }
  .landingImage img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .family .familyPhoto {
    height: 40rem;
    overflow: hidden;
    position: relative;
    width: 50%; }
    .family .familyPhoto img {
      width: 100%;
      max-width: 100%;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      opacity: 1;
      -webkit-transition: opacity 0.3s ease 0s;
      -o-transition: opacity 0.3s ease 0s;
      transition: opacity 0.3s ease 0s; }
  .family .familyText {
    width: 60%;
    padding-left: 4%; }
    .family .familyText h4 {
      width: 80%;
      font: normal normal 500 2.1rem/3rem "Quicksand", sans-serif;
      color: rgba(0, 0, 0, 0.6); }
    .family .familyText .underlined::after {
      content: "";
      display: block;
      width: 3.5em;
      padding-top: 2vh;
      border-bottom: 1.5px solid #2E425B; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 7%;
  margin-bottom: 7%; }
  .cards .cardWrap {
    width: 45%; }
    .cards .cardWrap :hover {
      cursor: pointer;
      -webkit-box-shadow: 0 0.1875rem 0.625rem 0 rgba(75, 89, 109, 0.3);
      box-shadow: 0 0.1875rem 0.625rem 0 rgba(75, 89, 109, 0.3);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .cards .cardWrap .card :hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .cards .cardWrap .card .cardTile {
      height: 30rem;
      overflow: hidden;
      position: relative;
      border-radius: 1rem 1rem 0rem 0rem; }
      .cards .cardWrap .card .cardTile img {
        width: 100%;
        max-width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
        opacity: 1;
        -webkit-transition: opacity 500ms ease 0s;
        -o-transition: opacity 500ms ease 0s;
        transition: opacity 500ms ease 0s; }
    .cards .cardWrap .card .cardText {
      font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
      padding-bottom: 4%;
      padding-left: 4%; }
      .cards .cardWrap .card .cardText p {
        font-size: 1.76rem;
        line-height: 2.2rem; }
      .cards .cardWrap .card .cardText a {
        text-decoration: none;
        color: #2E425B;
        background-color: #2E425B;
        font: normal normal 500 1.6rem/2rem "Open Sans", sans-serif;
        color: white;
        display: inline-block;
        padding: 1.5rem 4rem;
        text-decoration: none;
        border-radius: 1rem;
        border: 1px solid white;
        white-space: nowrap; }

.ctaCards {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .ctaCards .ctaCardWrap {
    width: 40%; }
    .ctaCards .ctaCardWrap :hover {
      -webkit-box-shadow: 0 0.1875rem 0.625rem 0 rgba(75, 89, 109, 0.3);
      box-shadow: 0 0.1875rem 0.625rem 0 rgba(75, 89, 109, 0.3);
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .ctaCards .ctaCardWrap .ctaCard {
      padding: 4%; }
      .ctaCards .ctaCardWrap .ctaCard :hover {
        -webkit-box-shadow: none;
        box-shadow: none; }
      .ctaCards .ctaCardWrap .ctaCard p {
        font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
        color: rgba(0, 0, 0, 0.6);
        width: 65%; }
      .ctaCards .ctaCardWrap .ctaCard a {
        text-decoration: none;
        color: #2E425B;
        font: normal normal 500 2.4rem/3.2rem "Quicksand", sans-serif;
        text-transform: uppercase; }

.eagr-reviews-layout-grid-item {
  width: 33%; }

.eagr-reviews-skeleton-container.jsx-1570720278 {
  font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif; }

.eagr-header-stats-component.jsx-781469832 {
  font-size: 1.4rem;
  font-weight: bold; }

.eagr-reviews-skeleton-container:nth-child(3) {
  display: none; }

.homes {
  margin-bottom: 10rem; }
  .homes :hover {
    cursor: pointer; }
  .homes .whiteoverlaybox {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(22.95%, #FFFFFF), color-stop(93.73%, rgba(255, 255, 255, 0))), url("../images/tourHomes.jpg");
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 22.95%, rgba(255, 255, 255, 0) 93.73%), url("../images/tourHomes.jpg");
    background-image: -o-linear-gradient(bottom, #FFFFFF 22.95%, rgba(255, 255, 255, 0) 93.73%), url("../images/tourHomes.jpg");
    background-image: linear-gradient(360deg, #FFFFFF 22.95%, rgba(255, 255, 255, 0) 93.73%), url("../images/tourHomes.jpg");
    height: 40rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-right: 4%;
    position: relative;
    text-align: center; }
    .homes .whiteoverlaybox .getaFeel {
      font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
      font-size: 3rem;
      padding-top: 32rem;
      padding-bottom: 3rem;
      color: #2E425B;
      text-align: center;
      margin: 0%;
      line-height: 4.2rem; }
    .homes .whiteoverlaybox .bigButton {
      border: 0;
      font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
      background-color: white;
      padding: 10px 22px;
      border-radius: 1rem;
      margin: 0 auto;
      color: #2E425B;
      border: 1px solid #2E425B; }
      .homes .whiteoverlaybox .bigButton :hover {
        background-color: #2E425B;
        color: white;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

/* --------------

Theme name: Motive
Author: Lucid Themes
Version: 1.1
Last change: 13/03/2016

-------------- */
/* ------- STYLE CSS CONTENTS ------- 

	- 1) Basic styling
	- 2) Header
	- 3) Footer
	- 4) Page styling
		- 4.1) page header
		- 4.2) page content
		- 4.3) post share
		- 4.4) post navigation
		- 4.5) sidebar widgets
		- 4.6) posts widget
		- 4.7) list widget 
		- 4.8) post social icons
	- 5) Home page
	- 6) About page
	- 7) Portfolio page
	- 8) Blog posts page
		- 6.1) style one & two
		- 6.2) style three
	- 9) Contact page
	- 10) Single page styling
		- 10.1) portfolio single
		- 10.2) blog single
	- 11) 404/error page
	
 ------------------------------------ */
/* --- 1) BASIC STYLING --- */
body {
  background-color: #ffffff; }

h1, h2, h4 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.font-reg {
  font-family: 'Questrial', sans-serif;
  font-weight: 400; }

.primary-button {
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #2E425B;
  padding: 14px 27px 13px;
  background-color: #2E425B;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none; }

.primary-button:hover {
  background-color: white;
  color: #2E425B;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }

.secondary-button {
  font-size: 14px;
  line-height: 15px;
  color: #222222;
  display: inline-block;
  padding: 12px 25px 11px;
  border: 2px solid #111111;
  background-color: transparent;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.secondary-button:hover {
  background-color: #222222;
  color: #ffffff;
  border-color: #222222; }

.rounded-button {
  border-radius: 30px; }

/* --- 2) HEADER --- */
.header-main {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid #eeeeee; }

.header-wide .container {
  width: 75%; }

#site-logo {
  width: 115px;
  height: 18px;
  float: left;
  background-image: url("../img/motive_logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 26px;
  display: block; }

#header-nav {
  float: right; }

/* -- nav main menu -- */
.menu {
  list-style-type: none;
  margin: 0;
  clear: both;
  white-space: nowrap;
  padding-left: 0px;
  -webkit-transition: margin .35s;
  -o-transition: margin .35s;
  transition: margin .35s; }

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.menu li {
  float: left;
  height: 100%;
  position: relative;
  white-space: nowrap; }

.menu .menu-item > a {
  font-size: 13px;
  color: #111111;
  float: left;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 25px 0;
  text-decoration: none; }

.menu li:last-child a {
  margin-right: 0px; }

.menu > li > a:hover, .submenu-active, #header-nav .menu-item > a.active {
  color: #c7c7c7 !important;
  -moz-transition: color, 0.5s, ease-in-out;
  -webkit-transition: color, 0.5s, ease-in-out;
  -o-transition: color, 0.5s, ease-in-out;
  transition: color, 0.5s, ease-in-out; }

.menu .sub-drop-icon {
  margin-left: 5px;
  display: none; }

/* -- nav drop down menus -- */
.menu .menu-item-has-children {
  position: relative; }

.menu .sub-menu {
  background-color: #ffffff;
  position: absolute;
  z-index: 1000;
  top: 68px;
  left: 16px;
  width: 230px;
  border-top: 2px solid #c7c7c7;
  display: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.menu .sub-menu li {
  width: 100% !important;
  height: auto; }

.menu .sub-menu li a {
  font-size: 12px;
  color: #111111 !important;
  display: block;
  letter-spacing: 1.5px;
  margin: 0;
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 0;
  padding-left: 20px; }

.menu .sub-menu li a:hover {
  background-color: #eeeeee; }

.submenu-active, .current-page-ancestor > a {
  background-position: left bottom !important; }

.sub-menu .sub-drop-icon {
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 15px; }

.sub-menu .sub-second-tier {
  top: 0;
  left: 190px; }

/* --- 3) FOOTER --- */
.footer-main {
  padding: 33px 0 30px;
  border-top: 1px solid #eeeeee;
  text-align: center; }

.footer-main p, .footer-main a {
  font-size: 13px;
  color: #6D6D6D;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  letter-spacing: 0.5px; }

.footer-social {
  display: inline-block; }

.footer-social li {
  margin-right: 20px;
  float: left; }

.footer-social li:last-child {
  margin-right: 0; }

.footer-social li a {
  font-size: 18px;
  color: #afafaf;
  letter-spacing: 0.5px; }

.footer-social li a:hover {
  color: #111111; }

#scroll-top {
  width: 40px;
  height: 40px;
  background-color: #C7C7C7;
  opacity: 0.9;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  display: none;
  cursor: pointer;
  border-radius: 1px; }

#scroll-top span {
  font-size: 20px;
  color: #ffffff;
  line-height: 10px;
  margin-top: 14px; }

/* --- 4) PAGE STYLING --- */
#main-content {
  padding-top: 70px; }

.page-section {
  padding: 100px 0; }

/* -- 4.1) page header -- */
.page-header {
  min-height: 375px;
  position: relative;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  background-position: center center;
  background-size: cover; }

.page-head-inside {
  color: #111111;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.page-head-inside h1 {
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 15px; }

.page-head-inside p {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1.5px; }

/* -- 4.2) page content -- */
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #666666;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 2px; }

.page-content h3 + p {
  margin-top: 5px; }

.page-content p {
  font-size: 13px;
  color: #707070;
  line-height: 19px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400; }

.page-content a {
  color: #707070;
  text-decoration: underline; }

.page-content strong {
  font-weight: 700; }

.page-content img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px; }

.page-content .alignleft {
  float: left;
  margin-right: 25px; }

.page-content .alignright {
  float: right;
  margin-left: 25px; }

.page-content ul {
  margin-bottom: 20px;
  text-align: left;
  list-style: none; }

.page-content li {
  color: #707070;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400; }

.page-content li:before {
  content: "• ";
  color: #707070;
  font-size: 20px; }

/* -- 4.3) post share -- */
/* 
#post-share{margin-top:30px;}
#post-share .social-item:first-child {margin-left: 0;} */
/* -- 4.4) post navigation -- */
/* 
.post-navigation-inner{padding:50px 0;margin-top:60px;border-top:1px solid #eeeeee;text-align:center;}
.post-navigation-inner .fa{font-size:20px;color:#afafaf;line-height:20px;}
.post-navigation-inner .fa-th-large,.post-navigation-inner .fa-long-arrow-right{margin-left:20px;}
.post-navigation-inner .fa:hover{color:#111111;} */
/* -- 4.5) sidebar widgets -- */
/* .left-sidebar{padding-right:40px}
.right-sidebar{padding-left:40px}

.sidebar-widget{margin-bottom:60px;}
.post-sidebar .sidebar-widget:last-child{margin-bottom:0;}
.sidebar-widget h3{font-size:18px;color:#111111;line-height:24px;text-transform:uppercase;letter-spacing:4px;margin-bottom:15px;font-weight:400;} */
/* -- 4.6) posts widget  -- */
.posts-widget .col-xlarge-8 {
  padding-left: 0; }

.posts-widget li a {
  padding: 10px 0;
  display: block; }

.posts-widget h4 {
  font-size: 15px;
  color: #111111;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-weight: 300; }

.posts-widget p {
  font-size: 13px;
  color: #525252;
  line-height: 17px; }

.posts-widget li a:hover h4 {
  color: #c7c7c7; }

/* -- 4.7) list widget  -- */
.list-widget li a {
  font-size: 13px;
  color: #525252;
  line-height: 20px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  text-decoration: none; }

.list-widget li a:hover {
  color: #c7c7c7; }

/* -- 4.8) post social icons -- */
.social-item {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 1px; }

.social-item span {
  color: #afafaf;
  font-size: 17px; }

.social-item span:hover {
  color: #111111; }

.social-item .fa-facebook {
  margin-top: 7px; }

.social-item .fa-twitter {
  margin-top: 7px; }

.social-item .fa-pinterest, .social-item .fa-instagram {
  margin-top: 7px; }

.social-item .fa-youtube {
  margin-top: 6px; }

.social-item .fa-google-plus {
  margin-top: 8px; }

/* --- 5) HOME PAGE --- */
/* -- featured section -- */
.home-section {
  position: relative; }

.featured-left {
  left: 0;
  text-align: left; }

.featured-right {
  right: 0;
  text-align: right; }

.featured-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.featured-slide .container {
  height: 100%;
  position: relative; }

.featured-content {
  width: 600px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.featured-content h2 {
  font-size: 40px;
  color: #111111;
  line-height: 62px;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 400; }

.featured-content p {
  font-size: 15px;
  color: #111111;
  line-height: 22px;
  margin-bottom: 40px; }

/* -- slideshow specific -- */
#home-featured-slideshow, .featured-slide {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.slideshow-btn {
  font-size: 25px;
  color: #afafaf;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 100;
  -moz-transition: opacity, 0.5s, ease-in-out;
  -webkit-transition: opacity, 0.5s, ease-in-out;
  -o-transition: opacity, 0.5s, ease-in-out;
  transition: opacity, 0.5s, ease-in-out; }

.slideshow-btn:hover {
  color: #111111; }

.previous-slide-btn {
  left: 30px; }

.next-slide-btn {
  right: 30px; }

.home-section:hover .slideshow-btn {
  opacity: 1; }

/* -- banner image specific -- */
#home-featured-banner {
  width: 100%;
  height: 600px;
  max-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#home-featured-banner .container {
  height: 100%;
  position: relative; }

/* --- 6) ABOUT PAGE --- */
.section-title h2 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.section-title p {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1.5px;
  text-align: center; }

.section-title p:after {
  width: 40px;
  height: 1px;
  display: block;
  background-color: #111111;
  content: "";
  margin: 20px auto 30px; }

/* -- about items  -- */
/* .about-item{text-align:center;margin-top:40px;}
.about-items li:nth-child(-n+3) .about-item{margin-top:0;}
.about-item .fa{font-size:35px;color:#111111;margin-bottom:15px;}
.about-item h3{font-size:16px;color:#111111;line-height:22px;letter-spacing:4px;margin-bottom:10px;font-weight:400;text-transform:uppercase;}
.about-item h3:after{width:40px;height:1px;display:block;background-color:#111111;content:"";margin:10px auto 20px;}
.about-item p{font-size:13px;color:#707070;line-height:19px;letter-spacing:1px;}


/* -- team section -- */
/* 
.team-section-inner{padding:100px 0;border-top:1px solid #eeeeee;}

.team-item{position:relative;margin-top:40px;}
.team-section-inner li:nth-child(-n+3) .team-item{margin-top:0;}
.team-hover{width:100%;height:100%;background-color:rgba(17,17,17,0.8);position:absolute;top:0;left:0;opacity:0;-moz-transition:opacity, 0.5s, ease-in-out;-webkit-transition:opacity, 0.5s, ease-in-out;transition:opacity, 0.5s, ease-in-out;}
.team-hover-content{color:#ffffff;width:100%;position:absolute;top:60%;left:0;right:0;margin-left:auto;margin-right:auto;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);opacity:1;text-align:center;-moz-transition:opacity, 0.5s, ease-in-out;-webkit-transition:opacity, 0.5s, ease-in-out;transition:opacity, 0.5s, ease-in-out;}
.team-hover-content h3{font-size:22px;line-height:22px;letter-spacing:4px;margin-bottom:10px;font-weight:400;text-transform:uppercase;}
.team-hover-content p{font-size:13px;line-height:19px;letter-spacing:1.5px;}
.team-hover-content p:after {width:40px;height:1px;display:block;background-color:#ffffff;content:"";margin:20px auto 0;}

.team-social{margin-top:25px;display:inline-block;}
.team-social li{margin-right:20px;float:left;line-height:0;}
.team-social li:last-child{margin-right:0;}
.team-social li a{font-size:18px;color:#ffffff;}

.team-item:hover .team-hover{opacity:1;}
.team-item:hover .team-hover-content{top:50%;}
 */
/* -- testimonial section  -- */
/* 
.testimonial-section-inner{padding:100px 0;border-top:1px solid #eeeeee;}

#testimonial-slideshow{position:relative;padding-bottom:40px;}
#testimonial-slideshow .owl-controls{bottom:0;}
.testimonial-slide{color:#707070;text-align:center;}
.testimonial-slide p:first-child{font-size:13px;line-height:19px;letter-spacing:1px;}
.testimonial-slide p:last-child{font-size:15px;line-height:21px;letter-spacing:1.5px;margin-top:30px;}
.testimonial-slide .company{color:#c7c7c7;}
 */
/* --- 7) PORTFOLIO PAGE  --- */
/* 
.portfolio-section .row{margin:0;}

#portfolio-item-filter{margin-bottom:58px;text-align:center;}
#portfolio-item-filter li{margin-right:15px;display:inline-block;}
#portfolio-item-filter li a{font-size:14px;color:#7c7c7c;line-height:15px;text-decoration:none;letter-spacing:1.5px;padding:10px 15px;border:1px solid #ffffff;}
#portfolio-item-filter li a.active{border-color:#eeeeee;}

#portfolio-items.padding .portfolio-item{padding:15px;}
#portfolio-items.no-padding .portfolio-item{padding:0;}
#portfolio-items.full-width{width:100%;}
#portfolio-items.boxed-width{width:1140px;margin:0 auto;}

.portfolio-item{display:block;position:relative;margin-bottom:30px;}
    
.portfolio-hover{width:100%;height:100%;background-color:rgba(17,17,17,0.8);position:absolute;top:0;left:0;opacity:0;-moz-transition:opacity, 0.5s, ease-in-out;-webkit-transition:opacity, 0.5s, ease-in-out;transition:opacity, 0.5s, ease-in-out;}
.portfolio-hover-content{color:#ffffff;width:100%;position:absolute;top:60%;left:0;right:0;margin-left:auto;margin-right:auto;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);opacity:1;text-align:center;-moz-transition:opacity, 0.5s, ease-in-out;-webkit-transition:opacity, 0.5s, ease-in-out;transition:opacity, 0.5s, ease-in-out;}
.portfolio-hover-content h3{font-size:22px;line-height:22px;letter-spacing:4px;margin-bottom:10px;font-weight:400;text-transform:uppercase;}
.portfolio-hover-content p{font-size:13px;line-height:19px;letter-spacing:1.5px;}
.portfolio-hover-content p:after {width:40px;height:1px;display:block;background-color:#ffffff;content:"";margin:20px auto 0;}

.portfolio-item:hover .portfolio-hover{opacity:1;}
.portfolio-item:hover .portfolio-hover-content{top:50%;}

 */
/* --- 8) BLOG POSTS PAGE --- */
/* 
.blog-item{text-decoration:none;color:#525252;display:block;border-top:1px solid #eeeeee;padding-top:50px;}
.blog-item h3{font-size:22px;line-height:22px;letter-spacing:4px;margin-bottom:10px;font-weight:400;text-transform:uppercase;text-align:center;}
.blog-item > p{font-size:13px;line-height:19px;letter-spacing:1.5px;text-align:center;}
.blog-item > p:after{width:40px;height:1px;display:block;background-color:#111111;content:"";margin:20px auto 20px;}
.blog-item img{margin-bottom:20px;}
 */
/* -- 8.1) style one & two -- */
/* 
.blog-list-1 .blog-item,.blog-list-2 .blog-item{margin-bottom:50px}
.blog-list-1 li:first-child .blog-item,.blog-list-2 li:first-child .blog-item{padding-top:0;border:0;}
.blog-list-1 li:last-child .blog-item,.blog-list-2 li:last-child .blog-item{margin-bottom:0} */
/* -- 8.2) style three -- */
/* .blog-list-3 {padding-bottom:50px;}
.blog-list-3 .blog-item{margin-bottom:50px;}
.blog-list-3 li:nth-child(-n+2) .blog-item{padding-top:0;border:0;}
  */
/* --- 9) CONTACT PAGE --- */
#contact-map-container, #contact-map {
  width: 100%;
  height: 450px; }

.contact-page h1 {
  font: normal normal 500 7rem/8rem "Baskervville", serif;
  font-size: 2.8rem;
  color: #2E425B;
  line-height: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2.5rem; }

#contact-details {
  width: 100%; }

#contact-details tr {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
  display: block; }

#contact-details tr:first-child {
  padding-top: 0; }

#contact-details tr td:first-child {
  width: 53px;
  text-align: center;
  vertical-align: top; }

#contact-details span, #contact-details a {
  font-size: 15px;
  line-height: 18px;
  color: #111111;
  text-decoration: none;
  letter-spacing: 1px; }

#contact-details .fa {
  font-size: 20px;
  color: #111111;
  margin-right: 30px; }

.contact-input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee; }

.contact-text {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  padding: 15px;
  vertical-align: top;
  margin-bottom: 20px;
  border: 1px solid #eeeeee; }

.contact-input, .contact-text {
  font-size: 15px;
  line-height: 20px;
  -webkit-transition: border-color ease-in-out 0.25s;
  -o-transition: border-color ease-in-out 0.25s;
  transition: border-color ease-in-out 0.25s; }

.contact-input:focus, .contact-text:focus {
  border-color: #c7c7c7; }

/* --- 10) SINGLE PAGE STYLING --- */
/* -- 10.1) portfolio single -- */
/* .single-portfolio{padding-bottom:0;}

#portfolio-slideshow-outer{position:relative;margin-bottom:40px;}
#portfolio-slideshow-outer:hover .slideshow-btn{opacity:1;}

.single-detail-item{margin-top:20px;}
.single-detail-item h3{font-size:16px;color:#111111;line-height:22px;letter-spacing:4px;margin-bottom:10px;font-weight:400;text-transform:uppercase;}
.single-detail-item h3:after{width:40px;height:1px;display:block;background-color:#111111;content:"";margin:10px 0 20px;}
.single-detail-item p,.single-detail-item a{font-size:14px;color:#707070;line-height:20px;margin-bottom:20px;letter-spacing:1px;text-decoration:none;}

.single-detail-item #post-share{margin-top:-7px;}


/* -- 10.2) blog single -- */
/* --- 11) 404/ERROR PAGE --- */
.not-found-page {
  text-align: center; }

.not-found-page h2 {
  font-size: 16px;
  color: #111111;
  line-height: 22px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase; }

.not-found-page h2:after {
  width: 40px;
  height: 1px;
  display: block;
  background-color: #111111;
  content: "";
  margin: 10px auto 20px; }

.not-found-page p {
  font-size: 13px;
  color: #707070;
  line-height: 19px;
  letter-spacing: 1px; }

/* Radio Styling */
.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  font: normal normal 500 1.6rem/2rem 'Quicksand', sans-serif; }

.radio {
  margin: 0.5rem; }

.radio input[type="radio"] {
  position: absolute;
  opacity: 0; }

.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0em;
  margin-right: 0.75em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #2E425B;
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
  box-shadow: inset 0 0 0 4px #f4f4f4; }

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #2E425B; }

.radio input[type="radio"]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4; }

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0; }

.footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9rem; }
  .footerTop h3 {
    margin-bottom: 0%; }
  .footerTop .lineTwo {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0%; }
  .footerTop .callCTA {
    background-color: #2E425B;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0rem 2rem 2rem 0rem;
    margin: 5% 0% 1% 0%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .footerTop .callCTA p {
      font: normal normal 500 2.1rem/3rem "Quicksand", sans-serif;
      color: rgba(255, 255, 255, 0.79);
      margin-bottom: 0%;
      margin-top: 0%;
      padding-bottom: 3%; }
    .footerTop .callCTA .number {
      font: normal normal 500 1.6rem/2rem "Quicksand", sans-serif;
      color: white;
      font-weight: 600;
      font-size: 2.3rem;
      margin-top: 1%; }

.footerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5%; }
  .footerMain .footerSub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font: normal normal 500 2.1rem/3rem "Quicksand", sans-serif;
    color: #2E425B; }
    .footerMain .footerSub .subItems {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footerMain .footerSub .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 3.5rem; }
      .footerMain .footerSub .social a + a {
        margin-left: 1.5rem; }
    .footerMain .footerSub a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 2.6rem; }

.footerMain .footerSub a:hover {
  color: black;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

@media (max-width: 1442px) {
  nav {
    font-size: 1.4rem; }
    nav .navRight {
      width: 80%; } }

@media (max-width: 1200px) {
  h3 {
    font-size: 3.44rem;
    line-height: 4.8rem; }
  .family .familyText h4 {
    font-size: 1.89rem;
    line-height: 2.7rem;
    width: 100%; }
  .footerMain .footerSub {
    font-size: 1.68rem;
    line-height: 2.4rem; }
  #legal {
    display: none; }
  .landingImage {
    height: 60rem; } }

@media (max-width: 1000px) {
  .landingImage {
    height: 50rem; }
  .cards .cardWrap .card .cardTile {
    height: 23rem; } }

@media (max-width: 900px) {
  h1 {
    width: 100%;
    font-size: 5.6rem;
    line-height: 6.8rem; } }

@media (max-width: 800px) {
  .footerTop {
    margin-bottom: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerTop .leftText {
      width: 100%;
      text-align: center; }
    .footerTop h3 {
      margin: 0%; }
    .footerTop .callCTA {
      text-align: center;
      margin: 5% auto; }
  .footerMain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem; }
    .footerMain .footerSub {
      text-align: center; }
    .footerMain .logo {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      width: 100%;
      text-align: center; }
    .footerMain #navigation {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
  .landingImage {
    height: 40rem; } }

@media (max-width: 763px) {
  .family {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 0rem; }
    .family .familyPhoto {
      width: 100%; }
    .family .familyText {
      width: 90%;
      margin: 1rem auto 6rem;
      padding-left: 0%;
      text-align: center; }
      .family .familyText h4 {
        margin: 3rem auto 0rem; }
    .family .familyText .underlined::after {
      margin: 0 auto;
      margin-bottom: 1rem; }
  .cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .cards .cardWrap {
      width: 100%; }
    .cards .cardWrap + .cardWrap {
      margin-top: 5rem; }
  .ctaCards .ctaCardWrap {
    width: 46%; }
  .landingImage {
    margin-bottom: 0rem; } }

@media (max-width: 600px) {
  .ctaCards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .ctaCards .ctaCardWrap {
      width: 100%; }
    .ctaCards .ctaCardWrap + .ctaCardWrap {
      margin-top: 5rem; }
    .ctaCards p {
      width: 100%; }
  .footerMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .footerMain .logo {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .footerMain .footerSub .subItems {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footerMain .footerSub a {
      margin-bottom: 1.5rem; }
    .footerMain .footerSub .social {
      width: 15rem;
      margin: 0 auto; }
    .footerMain .footerSub + .footerSub {
      margin: 2rem 0rem; }
  h1 {
    font-size: 4.2rem;
    line-height: 5.44rem; }
  .landingImage {
    height: 30rem; } }

@media (max-width: 500px) {
  .landingImage {
    height: 25rem; } }

@media (max-width: 400px) {
  .landingImage {
    height: 20rem; } }
