h1 {
    font: $headingFont;
    margin: 0%;
    padding: 15vh 0vh;
    color: $primaryColour;
}

h2 {
    font: $subheadingFont;
    margin: 6% 0%;
    width: 80%;
}

h3 {
    font: $sectionHeadingFont;
    color: $primaryColour;
}

h4 {
    font: $baseFont;
}


.quoteCTA {
    text-align: center;
    margin-bottom: 7rem;
    

    :hover {
        cursor: pointer;
        color: $primaryColour;
        background-color: white;
        border: 1px solid $primaryColour;
        transition: all 0.3s ease;
    }

    a {
        background-color: $primaryColour;
        font: $linkFont;
        color: white;
        display: inline-block;
        padding: 1.5rem 10rem;
        text-decoration: none;
        border-radius: 1rem;
        border: 1px solid white;
        white-space: nowrap;        
    }
    
}


.onePhoto {
    width: 100%;
    position: relative;
    height: 35rem;
    width: 100%;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }   
}