h1 {
    font: $headingFont;
    margin: 0%;
    padding: 15vh 0vh;
}

h2 {
    font: $subheadingFont;
    margin: 6% 0%;
    width: 80%;
}

h3 {
    font: $sectionHeadingFont;
    color: $primaryColour;
}

h4 {
    font: $baseFont;
}

.landingImage {
    height: 80vh;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        object-fit: cover;
    }
}


.family {
    display: flex;
    justify-content: space-between;

    .familyPhoto {
        height: 40rem;
        overflow: hidden;
        position: relative;
        width: 50%;

        img {
            width: 100%;
            max-width: 100%;
            display: block;
            position: absolute; 
            top: 0px; 
            left: 0px; 
            height: 100%; 
            object-fit: cover; 
            object-position: center center; 
            opacity: 1; 
            transition: opacity 0.3s ease 0s;
            }
    }
    .familyText {
        width: 60%;
        padding-left: 4%;
        h4 {
            width: 80%;
            font: $bodyFont;
            color: rgba(0, 0, 0, 0.6);
        }

        .underlined::after {
            content: "";
            display: block;
            width: 3.5em;
            padding-top: 2vh;
            border-bottom: $borderBottom;
        }
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 7%;

    .cardWrap {
        width: 45%;

        :hover {
            cursor: pointer;
            box-shadow: $boxShadow;
            transition: all 0.3s ease;
        }

        .card {
            :hover {
                box-shadow: none;
            }
            .cardTile {
                height: 30rem;
                overflow: hidden;
                position: relative;
                border-radius: 1rem 1rem 0rem 0rem;
                
                img {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    position: absolute; 
                    top: 0px; 
                    left: 0px; 
                    height: 100%; 
                    object-fit: cover; 
                    object-position: center center; 
                    opacity: 1; 
                    transition: opacity 500ms ease 0s;
                }
            }

            .cardText {
                font: $baseFont;
                padding-bottom: 2%;
                padding-left: 2%;

                a {
                    text-decoration: none;
                    color: $primaryColour;
                    margin-bottom: 5%;
                }
            }
        }            
    }
}

.ctaCards {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    
    .ctaCardWrap {
    width: 40%;
    
        :hover {
        box-shadow: $boxShadow;
        cursor: pointer;
        transition: all 0.3s ease;
        }

        .ctaCard {

            padding: 4%;

            :hover {
                box-shadow: none;
            }
            p {
                font: $baseFont;
                color: $secondaryColour;
                width: 65%;
            }
            a {
                text-decoration: none;
                color: $primaryColour;
                font: $ctaFont;
                text-transform: uppercase;

            }
            
        }
    }
}


.eagr-reviews-layout-grid-item {
    width: 33%;
}

// .eagr-reviews-layout-grid-classic.jsx-113350930 .eagr-reviews-layout-grid-item.jsx-11335093
.eagr-reviews-skeleton-container.jsx-1570720278 {
    font: $baseFont;
}

.jsx-1570720278.eagr-reviews-skeleton-container:nth-child(2) {
    display: none;
}

.homes {
    margin-bottom: 10rem;
    :hover {
        cursor: pointer;
    }
    
    .whiteoverlaybox {
        background-image: linear-gradient(to top right, #f6f8facc, #f6f8facc),
        url("../images/tourHomes.jpg");
        height: 40rem;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin-right: 4%;
        position: relative;
        text-align: center;

        .getaFeel {
            font: $baseFont;
            font-size: 3rem;
            // Line height has to be the same as height of div
            padding-top: 18rem;
            padding-bottom: 3rem;
            color: $primaryColour;
            text-align: center;
            margin: 0%;
            }
        
        .bigButton {
            border: 0;
            font: $linkFont;
            background-color: white;
            padding: 10px 22px;
            border-radius: 1rem;
            margin: 0 auto; 
            color: #333333;
            
            :hover {
                background-color: $primaryColour;
                color: white;
                transition: all 0.3s ease;
            }
        
        }    
    }
}
